
.div {
  display: flex;
  padding-top: 6px;
  flex-direction: column;
}
.div-2 {
  background-color: #f7ede9;
  display: flex;
  margin-top: 6px;
  width: 100%;
  padding-top: -6px;
  flex-direction: column;
}
@media (max-width: 991px) {
  .div-2 {
    max-width: 100%;
  }
}
.div-3 {
  box-shadow: 0px 0px 0px 1.125px #e5e0df,
    0px 2.25px 4.5px -1.125px rgba(0, 0, 0, 0.06),
    0px 4.5px 6.75px -1.125px rgba(0, 0, 0, 0.1);
  background-color: #fffcfa;
  align-self: stretch;
  z-index: 1;
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: end;
  padding: 22px 20px;
}
@media (max-width: 991px) {
  .div-3 {
    max-width: 100%;
  }
}
.div-4 {
  margin-right: 243px;
  width: 1124px;
  max-width: 100%;
}
@media (max-width: 991px) {
  .div-4 {
    margin-right: 10px;
  }
}
.div-5 {
  gap: 20px;
  display: flex;
}
@media (max-width: 991px) {
  .div-5 {
    flex-direction: column;
    align-items: stretch;
    gap: 0px;
  }
}
.column {
  display: flex;
  flex-direction: column;
  line-height: normal;
  width: 52%;
  margin-left: 0px;
}
@media (max-width: 991px) {
  .column {
    width: 100%;
  }
}
.div-6 {
  display: flex;
  flex-direction: column;
  margin: auto 0;
}
@media (max-width: 991px) {
  .div-6 {
    max-width: 100%;
    margin-top: 40px;
  }
}
.div-7 {
  justify-content: center;
  color: #ff477e;
  align-self: stretch;
  font: 700 45px/56px Crimson Pro, -apple-system, Roboto, Helvetica,
    sans-serif;
}
@media (max-width: 991px) {
  .div-7 {
    max-width: 100%;
    font-size: 40px;
    line-height: 55px;
  }
}
.div-8 {
  justify-content: center;
  color: #443728;
  align-self: stretch;
  margin-top: 25px;
  font: 400 18px/29px Open Sans, sans-serif;
}
@media (max-width: 991px) {
  .div-8 {
    max-width: 100%;
  }
}
.div-9 {
  justify-content: center;
  color: #443728;
  align-self: stretch;
  margin-top: 5px;
  font: 400 18px/29px Open Sans, sans-serif;
}
@media (max-width: 991px) {
  .div-9 {
    max-width: 100%;
  }
}
.div-10 {
  justify-content: center;
  color: #fff;
  text-align: center;
  white-space: nowrap;
  border-radius: 6.75px;
  box-shadow: 0px 2.25px 4.5px -1.125px rgba(0, 0, 0, 0.06),
    0px 4.5px 6.75px -1.125px rgba(0, 0, 0, 0.1);
  background-color: #eeab98;
  align-self: start;
  margin-top: 29px;
  width: 142px;
  max-width: 100%;
  padding: 16px 18px;
  font: 700 18px/29px Crimson Pro, -apple-system, Roboto, Helvetica,
    sans-serif;
}
@media (max-width: 991px) {
  .div-10 {
    white-space: initial;
    padding-right: 2px;
  }
}
.column-2 {
  display: flex;
  flex-direction: column;
  line-height: normal;
  width: 48%;
  margin-left: 20px;
}
@media (max-width: 991px) {
  .column-2 {
    width: 100%;
  }
}
.img {
  aspect-ratio: 1.3;
  object-fit: contain;
  object-position: center;
  width: 100%;
  fill: linear-gradient(
    50deg,
    #f6846d 16.93%,
    rgba(251, 36, 152, 0.86) 87.54%,
    rgba(251, 36, 152, 0) 97.52%
  );
  overflow: hidden;
  flex-grow: 1;
}
@media (max-width: 991px) {
  .img {
    max-width: 100%;
    margin-top: 40px;
  }
}
.div-11 {
  box-shadow: 0px 0px 0px 1.125px #e5e0df,
    0px 2.25px 4.5px -1.125px rgba(0, 0, 0, 0.06),
    0px 4.5px 6.75px -1.125px rgba(0, 0, 0, 0.1);
  background-color: #fadbdb;
  align-self: stretch;
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
  padding: 50px 20px;
}
@media (max-width: 991px) {
  .div-11 {
    max-width: 100%;
  }
}
.div-12 {
  width: 879px;
  max-width: 100%;
  margin: 48px 0 35px;
}
@media (max-width: 991px) {
  .div-12 {
    margin-top: 40px;
  }
}
.div-13 {
  gap: 20px;
  display: flex;
}
@media (max-width: 991px) {
  .div-13 {
    flex-direction: column;
    align-items: stretch;
    gap: 0px;
  }
}
.column-3 {
  display: flex;
  flex-direction: column;
  line-height: normal;
  width: 33%;
  margin-left: 0px;
}
@media (max-width: 991px) {
  .column-3 {
    width: 100%;
  }
}
.div-14 {
  display: flex;
  flex-direction: column;
}
@media (max-width: 991px) {
  .div-14 {
    margin-top: 33px;
  }
}
.div-15 {
  justify-content: center;
  color: #443728;
  white-space: nowrap;
  font: 700 45px/56px Crimson Pro, -apple-system, Roboto, Helvetica,
    sans-serif;
}
@media (max-width: 991px) {
  .div-15 {
    font-size: 40px;
    line-height: 55px;
    white-space: initial;
  }
}
.img-2 {
  aspect-ratio: 1.63;
  object-fit: contain;
  object-position: center;
  width: 100%;
  overflow: hidden;
  margin-top: 33px;
}
.div-16 {
  justify-content: center;
  color: #443728;
  margin-top: 21px;
  font: 700 22.5px/28px Crimson Pro, -apple-system, Roboto, Helvetica,
    sans-serif;
}
.div-17 {
  justify-content: center;
  color: #443728;
  font: 400 18px/29px Open Sans, sans-serif;
}
.column-4 {
  display: flex;
  flex-direction: column;
  line-height: normal;
  width: 34%;
  margin-left: 20px;
}
@media (max-width: 991px) {
  .column-4 {
    width: 100%;
  }
}
.div-18 {
  display: flex;
  margin-top: 64px;
  flex-direction: column;
}
@media (max-width: 991px) {
  .div-18 {
    margin-top: 40px;
  }
}
.div-19 {
  display: flex;
  padding-left: 11px;
  flex-direction: column;
}
.img-3 {
  aspect-ratio: 1.63;
  object-fit: contain;
  object-position: center;
  width: 100%;
  overflow: hidden;
}
.div-20 {
  justify-content: center;
  color: #443728;
  margin-top: 20px;
  font: 700 22.5px/28px Crimson Pro, -apple-system, Roboto, Helvetica,
    sans-serif;
}
.div-21 {
  justify-content: center;
  color: #443728;
  margin-top: 4px;
  font: 400 18px/29px Open Sans, sans-serif;
}
.column-5 {
  display: flex;
  flex-direction: column;
  line-height: normal;
  width: 33%;
  margin-left: 20px;
}
@media (max-width: 991px) {
  .column-5 {
    width: 100%;
  }
}
.div-22 {
  display: flex;
  margin-top: 64px;
  flex-grow: 1;
  flex-direction: column;
}
@media (max-width: 991px) {
  .div-22 {
    margin-top: 40px;
  }
}
.img-4 {
  aspect-ratio: 1.63;
  object-fit: contain;
  object-position: center;
  width: 100%;
  overflow: hidden;
}
.div-23 {
  justify-content: center;
  color: #443728;
  margin-top: 22px;
  font: 700 22.5px/28px Crimson Pro, -apple-system, Roboto, Helvetica,
    sans-serif;
}
.div-24 {
  justify-content: center;
  color: #443728;
  margin-top: 9px;
  font: 400 18px/29px Open Sans, sans-serif;
}
.div-25 {
  border-radius: 13.5px;
  box-shadow: 0px 0px 0px 1.125px #e5e0df,
    0px 2.25px 4.5px -1.125px rgba(0, 0, 0, 0.06),
    0px 4.5px 6.75px -1.125px rgba(0, 0, 0, 0.1);
  background-color: #fffcfa;
  align-self: center;
  display: flex;
  margin-top: 32px;
  width: 990px;
  max-width: 100%;
  flex-direction: column;
  padding: 50px 32px 50px 79px;
}
@media (max-width: 991px) {
  .div-25 {
    padding: 0 20px;
  }
}
.div-26 {
  align-self: start;
  width: 738px;
  max-width: 100%;
  margin: 5px 0 0 28px;
}
.div-27 {
  gap: 20px;
  display: flex;
}
@media (max-width: 991px) {
  .div-27 {
    flex-direction: column;
    align-items: stretch;
    gap: 0px;
  }
}
.column-6 {
  display: flex;
  flex-direction: column;
  line-height: normal;
  width: 63%;
  margin-left: 0px;
}
@media (max-width: 991px) {
  .column-6 {
    width: 100%;
  }
}
.div-28 {
  display: flex;
  flex-direction: column;
}
@media (max-width: 991px) {
  .div-28 {
    max-width: 100%;
    margin-top: 40px;
  }
}
.div-29 {
  justify-content: center;
  color: #443728;
  font: 700 45px/56px Crimson Pro, -apple-system, Roboto, Helvetica,
    sans-serif;
}
@media (max-width: 991px) {
  .div-29 {
    max-width: 100%;
    font-size: 40px;
    line-height: 55px;
  }
}
.div-30 {
  display: flex;
  margin-top: 59px;
  padding-left: 77px;
  flex-direction: column;
}
@media (max-width: 991px) {
  .div-30 {
    max-width: 100%;
    padding-left: 20px;
    margin-top: 40px;
  }
}
.div-31 {
  justify-content: center;
  color: #443728;
  text-align: center;
  white-space: nowrap;
  border-radius: 6.75px;
  border: 1px solid #d7c5c1;
  background-color: #ebe2e0;
  align-self: end;
  aspect-ratio: 1;
  padding: 13px 17px;
  font: 700 27px/34px Crimson Pro, -apple-system, Roboto, Helvetica,
    sans-serif;
}
@media (max-width: 991px) {
  .div-31 {
    white-space: initial;
    padding-right: -1px;
  }
}
.div-32 {
  align-self: end;
  display: flex;
  width: 205px;
  max-width: 100%;
  gap: 0px;
  margin: 49px 14px 0 0;
}
@media (max-width: 991px) {
  .div-32 {
    justify-content: center;
    margin: 40px 10px 0 0;
  }
}
.div-33 {
  justify-content: center;
  color: #443728;
  text-align: right;
  margin: auto 0;
  font: 700 22.5px/28px Crimson Pro, -apple-system, Roboto, Helvetica,
    sans-serif;
}
.div-34 {
  background-color: #d7c5c1;
  align-self: center;
  display: flex;
  width: 65px;
  height: 3px;
  flex-direction: column;
  margin: auto 0;
}
@media (max-width: 991px) {
  .div-34 {
    margin-right: -9px;
  }
}
.div-35 {
  justify-content: center;
  color: #443728;
  text-align: center;
  white-space: nowrap;
  border-radius: 6.75px;
  border: 1px solid #d7c5c1;
  background-color: #ebe2e0;
  aspect-ratio: 1;
  padding: 13px 14px;
  font: 700 27px/34px Crimson Pro, -apple-system, Roboto, Helvetica,
    sans-serif;
}
@media (max-width: 991px) {
  .div-35 {
    white-space: initial;
  }
}
.div-36 {
  justify-content: center;
  color: #443728;
  text-align: right;
  align-self: stretch;
  margin-top: 4px;
  font: 400 18px/29px Open Sans, sans-serif;
}
.div-37 {
  justify-content: center;
  color: #443728;
  text-align: center;
  white-space: nowrap;
  border-radius: 6.75px;
  border: 1px solid #d7c5c1;
  background-color: #ebe2e0;
  align-self: end;
  aspect-ratio: 1;
  padding: 13px 15px;
  font: 700 27px/34px Crimson Pro, -apple-system, Roboto, Helvetica,
    sans-serif;
}
@media (max-width: 991px) {
  .div-37 {
    white-space: initial;
  }
}
.column-7 {
  display: flex;
  flex-direction: column;
  line-height: normal;
  width: 37%;
  margin-left: 20px;
}
@media (max-width: 991px) {
  .column-7 {
    width: 100%;
  }
}
.div-38 {
  display: flex;
  margin-top: 114px;
  flex-grow: 1;
  flex-direction: column;
}
@media (max-width: 991px) {
  .div-38 {
    margin-top: 40px;
  }
}
.div-39 {
  justify-content: center;
  color: #443728;
  white-space: nowrap;
  font: 700 22.5px/28px Crimson Pro, -apple-system, Roboto, Helvetica,
    sans-serif;
}
@media (max-width: 991px) {
  .div-39 {
    white-space: initial;
  }
}
.div-40 {
  justify-content: center;
  color: #443728;
  font: 400 18px/29px Open Sans, sans-serif;
}
.div-41 {
  justify-content: center;
  color: #443728;
  margin-top: 123px;
  white-space: nowrap;
  font: 700 22.5px/28px Crimson Pro, -apple-system, Roboto, Helvetica,
    sans-serif;
}
@media (max-width: 991px) {
  .div-41 {
    margin-top: 40px;
    white-space: initial;
  }
}
.div-42 {
  justify-content: center;
  color: #443728;
  font: 400 18px/29px Open Sans, sans-serif;
}
.div-43 {
  justify-content: center;
  color: #443728;
  align-self: start;
  max-width: 298px;
  margin: 94px 0 0 21px;
  font: 700 45px/56px Crimson Pro, -apple-system, Roboto, Helvetica,
    sans-serif;
}
@media (max-width: 991px) {
  .div-43 {
    font-size: 40px;
    line-height: 55px;
    margin: 40px 0 0 10px;
  }
}
.div-44 {
  margin: 19px 0 17px;
}
@media (max-width: 991px) {
  .div-44 {
    max-width: 100%;
  }
}
.div-45 {
  gap: 20px;
  display: flex;
}
@media (max-width: 991px) {
  .div-45 {
    flex-direction: column;
    align-items: stretch;
    gap: 0px;
  }
}
.column-8 {
  display: flex;
  flex-direction: column;
  line-height: normal;
  width: 33%;
  margin-left: 0px;
}
@media (max-width: 991px) {
  .column-8 {
    width: 100%;
  }
}
.div-46 {
  border-radius: 6.75px;
  border: 1px solid #d7c5c1;
  background-color: #ebe2e0;
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  width: 100%;
  margin: 0 auto;
  padding: 22px 21px 13px 20px;
}
@media (max-width: 991px) {
  .div-46 {
    margin-top: 30px;
    padding-right: 20px;
  }
}
.div-47 {
  justify-content: center;
  color: #443728;
  font: 700 22.5px/28px Crimson Pro, -apple-system, Roboto, Helvetica,
    sans-serif;
}
.div-48 {
  justify-content: center;
  color: #443728;
  font: 400 18px/29px Open Sans, sans-serif;
}
.column-9 {
  display: flex;
  flex-direction: column;
  line-height: normal;
  width: 33%;
  margin-left: 20px;
}
@media (max-width: 991px) {
  .column-9 {
    width: 100%;
  }
}
.div-49 {
  border-radius: 6.75px;
  border: 1px solid #d7c5c1;
  background-color: #ebe2e0;
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  width: 100%;
  margin: 0 auto;
  padding: 21px 26px 9px 15px;
}
@media (max-width: 991px) {
  .div-49 {
    margin-top: 30px;
    padding-right: 20px;
  }
}
.div-50 {
  justify-content: center;
  color: #443728;
  font: 700 22.5px/28px Crimson Pro, -apple-system, Roboto, Helvetica,
    sans-serif;
}
.div-51 {
  justify-content: center;
  color: #443728;
  margin-top: 4px;
  font: 400 18px/29px Open Sans, sans-serif;
}
.column-10 {
  display: flex;
  flex-direction: column;
  line-height: normal;
  width: 33%;
  margin-left: 20px;
}
@media (max-width: 991px) {
  .column-10 {
    width: 100%;
  }
}
.div-52 {
  border-radius: 6.75px;
  border: 1px solid #d7c5c1;
  background-color: #ebe2e0;
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  width: 100%;
  margin: 0 auto;
  padding: 21px 21px 11px 19px;
}
@media (max-width: 991px) {
  .div-52 {
    margin-top: 30px;
    padding-right: 20px;
  }
}
.div-53 {
  justify-content: center;
  color: #443728;
  font: 700 22.5px/28px Crimson Pro, -apple-system, Roboto, Helvetica,
    sans-serif;
}
.div-54 {
  justify-content: center;
  color: #443728;
  font: 400 18px/29px Open Sans, sans-serif;
}
.div-55 {
  box-shadow: 0px 0px 0px 1.125px #e5e0df,
    0px 2.25px 4.5px -1.125px rgba(0, 0, 0, 0.06),
    0px 4.5px 6.75px -1.125px rgba(0, 0, 0, 0.1);
  background-color: #fffcfa;
  align-self: stretch;
  display: flex;
  margin-top: 32px;
  width: 100%;
  flex-direction: column;
  align-items: center;
  padding: 50px 20px;
}
@media (max-width: 991px) {
  .div-55 {
    max-width: 100%;
  }
}
.div-56 {
  display: flex;
  width: 874px;
  max-width: 100%;
  flex-direction: column;
  margin: 38px 0 12px;
}
.div-57 {
  justify-content: center;
  color: #443728;
  font: 700 45px/56px Crimson Pro, -apple-system, Roboto, Helvetica,
    sans-serif;
}
@media (max-width: 991px) {
  .div-57 {
    max-width: 100%;
    font-size: 40px;
    line-height: 55px;
  }
}
.div-58 {
  justify-content: center;
  color: #443728;
  margin-top: 12px;
  font: 400 18px/29px Open Sans, sans-serif;
}
@media (max-width: 991px) {
  .div-58 {
    max-width: 100%;
  }
}
.div-59 {
  margin-top: 29px;
}
@media (max-width: 991px) {
  .div-59 {
    max-width: 100%;
  }
}
.div-60 {
  gap: 20px;
  display: flex;
}
@media (max-width: 991px) {
  .div-60 {
    flex-direction: column;
    align-items: stretch;
    gap: 0px;
  }
}
.column-11 {
  display: flex;
  flex-direction: column;
  line-height: normal;
  width: 33%;
  margin-left: 0px;
}
@media (max-width: 991px) {
  .column-11 {
    width: 100%;
  }
}
.div-61 {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
}
@media (max-width: 991px) {
  .div-61 {
    margin-top: 27px;
  }
}
.div-62 {
  disply: flex;
  flex-direction: column;
  justify-content: center;
  border-radius: 6.75px;
  overflow: hidden;
  position: relative;
  display: flex;
  aspect-ratio: 1.6181818181818182;
  width: 100%;
}
.img-5 {
  position: absolute;
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: center;
}
.img-6 {
  aspect-ratio: 1.62;
  object-fit: contain;
  object-position: center;
  width: 100%;
  overflow: hidden;
}
.div-63 {
  justify-content: center;
  color: #443728;
  margin-top: 7px;
  font: 700 22.5px/28px Crimson Pro, -apple-system, Roboto, Helvetica,
    sans-serif;
}
.div-64 {
  justify-content: center;
  color: #443728;
  font: 400 18px/29px Open Sans, sans-serif;
}
.column-12 {
  display: flex;
  flex-direction: column;
  line-height: normal;
  width: 33%;
  margin-left: 20px;
}
@media (max-width: 991px) {
  .column-12 {
    width: 100%;
  }
}
.div-65 {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
}
@media (max-width: 991px) {
  .div-65 {
    margin-top: 27px;
  }
}
.img-7 {
  aspect-ratio: 1.62;
  object-fit: contain;
  object-position: center;
  width: 100%;
  overflow: hidden;
}
.div-66 {
  justify-content: center;
  color: #443728;
  margin-top: 7px;
  font: 700 22.5px/28px Crimson Pro, -apple-system, Roboto, Helvetica,
    sans-serif;
}
.div-67 {
  justify-content: center;
  color: #443728;
  font: 400 18px/29px Open Sans, sans-serif;
}
.column-13 {
  display: flex;
  flex-direction: column;
  line-height: normal;
  width: 35%;
  margin-left: 20px;
}
@media (max-width: 991px) {
  .column-13 {
    width: 100%;
  }
}
.div-68 {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
}
@media (max-width: 991px) {
  .div-68 {
    margin-top: 27px;
  }
}
.img-8 {
  aspect-ratio: 1.73;
  object-fit: contain;
  object-position: center;
  width: 100%;
  overflow: hidden;
}
.div-69 {
  justify-content: center;
  color: #443728;
  margin-top: 7px;
  font: 700 22.5px/28px Crimson Pro, -apple-system, Roboto, Helvetica,
    sans-serif;
}
.div-70 {
  justify-content: center;
  color: #443728;
  font: 400 18px/29px Open Sans, sans-serif;
}
.div-71 {
  align-self: center;
  display: flex;
  margin-top: 85px;
  width: 888px;
  max-width: 100%;
  flex-direction: column;
  align-items: center;
  padding: 0 20px;
}
@media (max-width: 991px) {
  .div-71 {
    margin-top: 40px;
  }
}
.div-72 {
  justify-content: center;
  color: #443728;
  align-self: stretch;
  margin-right: -20px;
  font: 700 45px/56px Crimson Pro, -apple-system, Roboto, Helvetica,
    sans-serif;
}
@media (max-width: 991px) {
  .div-72 {
    max-width: 100%;
    font-size: 40px;
    line-height: 55px;
  }
}
.div-73 {
  display: flex;
  margin-top: 40px;
  width: 100%;
  justify-content: space-between;
  gap: 20px;
}
@media (max-width: 991px) {
  .div-73 {
    max-width: 100%;
    flex-wrap: wrap;
  }
}
.div-74 {
  display: flex;
  justify-content: space-between;
  gap: 20px;
}
.div-75 {
  display: flex;
  flex-grow: 1;
  flex-basis: 0%;
  flex-direction: column;
}
.div-76 {
  justify-content: center;
  color: #443728;
  font: 700 22.5px/28px Crimson Pro, -apple-system, Roboto, Helvetica,
    sans-serif;
}
.div-77 {
  justify-content: center;
  color: #443728;
  margin-top: 9px;
  font: 400 18px/29px Open Sans, sans-serif;
}
.div-78 {
  align-self: start;
  display: flex;
  flex-grow: 1;
  flex-basis: 0%;
  flex-direction: column;
}
.div-79 {
  justify-content: center;
  color: #443728;
  font: 700 22.5px/28px Crimson Pro, -apple-system, Roboto, Helvetica,
    sans-serif;
}
.div-80 {
  justify-content: center;
  color: #443728;
  margin-top: 9px;
  font: 400 18px/29px Open Sans, sans-serif;
}
.div-81 {
  align-self: start;
  display: flex;
  flex-grow: 1;
  flex-basis: 0%;
  flex-direction: column;
}
.div-82 {
  justify-content: center;
  color: #443728;
  font: 700 22.5px/28px Crimson Pro, -apple-system, Roboto, Helvetica,
    sans-serif;
}
.div-83 {
  justify-content: center;
  color: #443728;
  margin-top: 8px;
  font: 400 18px/29px Open Sans, sans-serif;
}
.div-84 {
  border-radius: 21px;
  background-color: #e8c9c9;
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: start;
  margin: 116px -19px 0 -21px;
  padding: 23px 37px -17px 28px;
}
@media (max-width: 991px) {
  .div-84 {
    max-width: 100%;
    margin-top: 40px;
    padding: 0 20px;
  }
}
.div-85 {
  width: 488px;
  max-width: 100%;
}
.div-86 {
  gap: 20px;
  display: flex;
}
@media (max-width: 991px) {
  .div-86 {
    flex-direction: column;
    align-items: stretch;
    gap: 0px;
  }
}
.column-14 {
  display: flex;
  flex-direction: column;
  line-height: normal;
  width: 31%;
  margin-left: 0px;
}
@media (max-width: 991px) {
  .column-14 {
    width: 100%;
  }
}
.div-87 {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
}
@media (max-width: 991px) {
  .div-87 {
    margin-top: 31px;
  }
}
.div-88 {
  justify-content: center;
  color: #443728;
  font: 700 36px/45px Crimson Pro, -apple-system, Roboto, Helvetica,
    sans-serif;
}
.div-89 {
  justify-content: center;
  color: #443728;
  margin-top: 21px;
  font: 400 18px/29px Open Sans, sans-serif;
}
.div-90 {
  justify-content: center;
  color: #443728;
  margin-top: 6px;
  font: 400 18px/29px Open Sans, sans-serif;
}
.div-91 {
  justify-content: center;
  color: #443728;
  margin-top: 7px;
  font: 400 18px/29px Open Sans, sans-serif;
}
.div-92 {
  justify-content: center;
  color: #443728;
  margin-top: 9px;
  font: 400 18px/29px Open Sans, sans-serif;
}
.column-15 {
  display: flex;
  flex-direction: column;
  line-height: normal;
  width: 69%;
  margin-left: 20px;
}
@media (max-width: 991px) {
  .column-15 {
    width: 100%;
  }
}
.div-93 {
  justify-content: center;
  color: #443728;
  margin-top: 5px;
  font: 400 18px/29px Open Sans, sans-serif;
}
@media (max-width: 991px) {
  .div-93 {
    margin-top: 40px;
  }
}
.div-94 {
  justify-content: center;
  color: #fff;
  text-align: center;
  align-items: center;
  border-radius: 6.75px;
  box-shadow: 0px 2.25px 4.5px -1.125px rgba(0, 0, 0, 0.06),
    0px 4.5px 6.75px -1.125px rgba(0, 0, 0, 0.1);
  background-color: #f43a5b;
  align-self: end;
  z-index: 1;
  margin-top: 24px;
  width: 123px;
  max-width: 100%;
  padding: 13px 20px;
  font: 700 18px/29px Crimson Pro, -apple-system, Roboto, Helvetica,
    sans-serif;
}
.div-95 {
  box-shadow: 0px 0px 0px 1.125px #e5e0df,
    0px 2.25px 4.5px -1.125px rgba(0, 0, 0, 0.06),
    0px 4.5px 6.75px -1.125px rgba(0, 0, 0, 0.1);
  background-color: #fffcfa;
  align-self: stretch;
  display: flex;
  margin-top: 157px;
  width: 100%;
  flex-direction: column;
}
@media (max-width: 991px) {
  .div-95 {
    max-width: 100%;
    margin-top: 40px;
  }
}
.div-96 {
  disply: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  position: relative;
  display: flex;
  min-height: 353px;
  width: 100%;
  padding: 50px 20px;
}
@media (max-width: 991px) {
  .div-96 {
    max-width: 100%;
  }
}
.img-9 {
  position: absolute;
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: center;
}
.div-97 {
  position: relative;
  display: flex;
  width: 438px;
  max-width: 100%;
  flex-direction: column;
  align-items: start;
  margin: 21px 0 48px -221px;
}
@media (max-width: 991px) {
  .div-97 {
    margin-bottom: 40px;
  }
}
.div-98 {
  justify-content: center;
  color: #443728;
  align-self: stretch;
  font: 700 35px/30px Crimson Pro, -apple-system, Roboto, Helvetica,
    sans-serif;
}
@media (max-width: 991px) {
  .div-98 {
    max-width: 100%;
  }
}
.div-99 {
  justify-content: center;
  color: #443728;
  align-self: stretch;
  margin-top: 16px;
  font: 400 18px/29px Open Sans, sans-serif;
}
@media (max-width: 991px) {
  .div-99 {
    max-width: 100%;
  }
}
.div-100 {
  justify-content: center;
  color: #fff;
  text-align: center;
  align-items: start;
  border-radius: 6.75px;
  box-shadow: 0px 2.25px 4.5px -1.125px rgba(0, 0, 0, 0.06),
    0px 4.5px 6.75px -1.125px rgba(0, 0, 0, 0.1);
  background-color: #eeab98;
  margin-top: 24px;
  width: 139px;
  max-width: 100%;
  padding: 16px 20px;
  font: 700 18px/29px Crimson Pro, -apple-system, Roboto, Helvetica,
    sans-serif;
}
@media (max-width: 991px) {
  .div-100 {
    padding-left: 9px;
  }
}
